@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,300);

@import 'mixins';
@import 'vars';

body {
  margin: 0px;
  font-family: 'Raleway', serif;
  background: $blue;
  color: $white;
  line-height: 24px;
}
header {
  padding: 1.72458%;
  background: $red;
  text-align: center;
  position: relative;
  h1 {
    color: $white;
  }
  .back {
    color: $white;
    text-decoration: none;
    font-size: 20px;
    @include tablet {
      position: absolute;
      top: 42%;
      left: 60px;
    }
    @include desktop {
      position: absolute;
      top: 42%;
      left: 60px;
    }
  }
}
a {
  color: $yellow;
}
time {
  display: block;
  margin: 10px;
  @include tablet {
    margin: 60px;
  }
  @include desktop {
    margin: 60px;
  }
  font-size: 1rem;
  color: $yellow;
  font-weight: bold;
}
article {
  margin: 10px;
  @include tablet {
    margin: 60px;
  }
  @include desktop {
    margin: 60px;
  }
}
